:root {
    --primary-text: #B6B6B6;
    --primary-title: #333333;
    --third-text: #F38181;
    --secondary-text-title: #95E1D3;
    --fourth-text: #333333;
    --primary-button-color: #95E1D3;
    --main-font: "Montserrat", "sans-serif";
    --second-font: "Roboto", "sans-serif";
    --third-font: "Kaushan Script", "sans-serif";

}
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Kaushan Script", sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

 .header {
  margin-top: 17px;
  margin-bottom: 68px;
}
.header-nav {
    padding-top: 15px;
    
}
.nav-link{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #95e1d3;
text-decoration: none;
}
.nav-link:hover{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #F38181;
text-decoration: none;
}
.nav-list{
  list-style: none;
}

.header-logo {
    padding-bottom: 12px;
    text-decoration: none;
    color: #95E1D3;
    font-family: var(--font-family);
font-weight: 700;
font-size: 30px;
}

 .service-subtitle {
  margin-bottom: 20px;
  font-family: var(--third-family);
font-weight: 400;
font-size: 24px;
color: #333;
}
.service-title-one {
  margin-bottom: 109px;
  font-family: var(--font-family);
font-weight: 700;
font-size: 30px;
font-variant: all-small-caps;
color: #333;
} 
.service-title{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
font-variant: small-caps;
color: #333;
}
.service-list{
  list-style: none;
  display: flex;
  gap: 69px;
}
.service-item:nth-child(n+3) {
 margin-top: 100px; 
 padding-bottom: 100px;
}
.service-text{
  font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 147%;
color: #b6b6b6;
}

 .about-subtitle {
  margin-bottom: 17px;
  font-family: var(--third-family);
font-weight: 400;
font-size: 24px;
color: #333;
}
.about-title {
  margin-bottom: 85px;
  font-family: var(--font-family);
font-weight: 700;
font-size: 30px;
font-variant: all-small-caps;
color: #333;
}
.about-text {
  margin-bottom: 27px;
  font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
text-align: center;
color: #b6b6b6;
}
.about-name {
  margin-top: 30px;
  margin-bottom: 11px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;

text-align: center;
color: #333;
} 
.about-role {
    padding-bottom: 80px;
    font-family: var(--second-family);
font-style: italic;
font-weight: 300;
font-size: 15px;
text-align: center;
color: #b6b6b6;
}

.footer-copyright {
    padding-top: 22px;
    padding-bottom: 20px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
text-align: center;
color: #333;
}
.footer-link{
  text-decoration: none;
  color: #F38181;
}

.footer-button {
    padding-top: 9px;
    padding-bottom: 10px;
    background-color:#95e1d3;
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
font-variant: all-small-caps;
text-align: center;
color: #fff;
}
.services-list{
  display: flex;
  justify-content: space-around;
}
.about-list{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  list-style: none;
}
.nav-list{
  display: flex;
  justify-content: space-around;
}